.sapMObjStatus.sapMObjStatusInformation.sapMObjStatusInverted span {
    color: #e8f3ff;
}
.sapMPI, .sapMPI * {
    min-height: 0;
    border: none;
    border-radius: 0 !important;
}
.meliCustomRemoveIconTabBarMarginTop {
    margin-top: -0.5rem;
    z-index: -1;
}